
@font-face {
  // 辰宇落雁體:
  font-family: "ChenYuluoyan";
  src: url("../fonts/ChenYuluoyan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  // 源泉圓體: 粗體
  font-family: "GenSen-B";
  src: url("../fonts/GenSenRounded2TW-B.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  // 源泉圓體: 特粗
  font-family: "GenSen-H";
  src: url("../fonts/GenSenRounded2TW-H.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  // 源泉圓體: 中等
  font-family: "GenSen-M";
  src: url("../fonts/GenSenRounded2TW-M.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  // 源泉圓體: 一般
  font-family: "GenSen-R"; 
  src: url("../fonts/GenSenRounded2TW-R.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  // KiwiMaru: 中等
  font-family: "KiwiMaru-R"; 
  src: url("../fonts/KiwiMaru-R.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  // KiwiMaru: 一般
  font-family: "KiwiMaru-M"; 
  src: url("../fonts/KiwiMaru-M.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
